$primary-color: #FAAE00;
$secondary-color: white;
$terciary-color: black;
$default-background-color: black;
$section-margin-spacing: 1em;

$content-width: 2560px;

$background-color: black;
$footer-bg-color: white;
