@font-face {
  font-family: font-heavy;
  src: url(fonts/DrukCyr-Heavy.woff2);
  font-display: swap;
}
@font-face {
  font-family: font-medium;
  src: url(fonts/DrukCyr-Medium.woff2);
  font-display: swap;
}
@font-face {
  font-family: carmem;
  src: url(fonts/CarmenSans-Regular.woff2);
  font-display: swap;
}
* {
  font-family: Arial, Helvetica, sans-serif, carmem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* h1 {
  font-family: font-heavy;
  font-size: 5rem;
  text-transform: uppercase;
}
* h1 span {
  font-family: font-heavy;
}
@media screen and (max-width: 767px) {
  * h1 {
    font-size: 4rem;
  }
}
* h2 {
  font-size: 2.5rem;
  font-family: font-heavy;
  text-transform: uppercase;
  font-weight: 800;
}
* h2 span {
  font-family: font-heavy;
}
@media screen and (max-width: 767px) {
  * h2 {
    font-size: 2rem;
  }
}
* h3 {
  font-size: 1.3rem;
  font-family: font-medium;
  text-transform: uppercase;
}
* h3 span {
  font-family: font-medium;
}
* h5 {
  font-size: 0.7rem;
  text-transform: uppercase;
}

body {
  background-color: black;
}

section {
  max-width: 2560px;
  padding: 1.5rem 0;
  margin: 0;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 1194px) {
  section {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  section {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.primary-color {
  color: #FAAE00;
}

.secondary-color {
  color: white;
}

div.container {
  margin-left: auto;
  margin-right: auto;
}

#section1 {
  background: url("../img/background-section-1.webp") no-repeat;
  background-size: cover;
  background-position: center;
  height: 20em;
}
#section1 div {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  #section1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 810px) {
  #section1 h1 {
    width: 5em;
    margin-left: 0.5em;
  }
}
@media screen and (max-width: 767px) {
  #section1 h1 {
    margin: 0;
  }
}
#section1 h3 {
  word-spacing: 0.4rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
}
@media screen and (max-width: 810px) {
  #section1 h3 {
    margin-left: 2.1em;
  }
}
@media screen and (max-width: 767px) {
  #section1 h3 {
    margin: 0;
    font-size: 1.2rem;
  }
}
#section1 .col-1 {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
#section1 .col-2 .carro {
  background: url("../img/carro.webp") no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: -4em;
  left: -4em;
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 810px) {
  #section1 .col-2 .carro {
    width: 20.5rem;
    height: 20.5rem;
    top: -1em;
    left: -4em;
  }
}
@media screen and (max-width: 767px) {
  #section1 .col-2 .carro {
    position: inherit;
    margin: 0 auto;
    margin-top: -5em;
  }
}

#section2 {
  background-color: white;
  display: flex;
  flex-direction: column;
}
#section2 div.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}
#section2 div.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 1194px) {
  #section2 div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  #section2 div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
}
#section2 div.container div {
  width: 36em;
}
@media screen and (max-width: 767px) {
  #section2 div.container div {
    width: 20em;
  }
}
#section2 div.container div.left {
  padding-left: 13rem;
  margin: 0;
}
#section2 div.container div.left p {
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  #section2 div.container div.left p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1194px) {
  #section2 div.container div.left {
    padding-left: 0;
    padding-top: 1em;
    margin: 0 auto;
  }
}
#section2 div.container div.right {
  display: flex;
  vertical-align: center;
  padding-top: 1em;
  padding-left: 1em;
}
#section2 div.container div.right iframe {
  width: 450px;
  height: 250px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #section2 div.container div.right iframe {
    width: 250px;
    height: 150px;
    margin-bottom: 2em;
  }
}
#section2 div.container div.right .iframe, #section2 div.container div.right .youtube, #section2 div.container div.right .wrapper {
  width: 450px;
  height: 250px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #section2 div.container div.right .iframe, #section2 div.container div.right .youtube, #section2 div.container div.right .wrapper {
    width: 250px;
    height: 150px;
    margin-bottom: 2em;
  }
}

#section3 div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #section3 div.container {
    margin-top: 2em;
  }
}
#section3 div.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20em;
}
@media screen and (max-width: 1194px) {
  #section3 div.content {
    width: 15em;
  }
}
@media screen and (max-width: 810px) {
  #section3 div.content {
    display: flex;
    flex-direction: column;
  }
}
#section3 div.service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  padding-bottom: 1.5em;
}
#section3 div.text {
  width: 12em;
  text-align: center;
}
#section3 div.col-left {
  padding-left: 13em;
}
@media screen and (max-width: 1194px) {
  #section3 div.col-left {
    padding-left: 0;
    padding: 0 auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 810px) {
  #section3 div.col-left {
    padding-left: 0;
  }
}
#section3 div.col-right {
  padding-right: 13em;
}
@media screen and (max-width: 1194px) {
  #section3 div.col-right {
    padding: 0 auto;
    padding-right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 810px) {
  #section3 div.col-right {
    padding-right: 0;
  }
}
#section3 p {
  font-size: 0.7rem;
}
#section3 .img {
  width: 4rem;
  height: 4rem;
}
#section3 .img-1 {
  background: url("../img/higienizacao.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
#section3 .img-2 {
  background: url("../img/polimento.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
#section3 .img-3 {
  background: url("../img/cristalizacao.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
#section3 .img-4 {
  background: url("../img/revitalizacao.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
#section3 .img-5 {
  background: url("../img/estofados.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
#section3 .img-6 {
  background: url("../img/snow.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
#section3 .img-7 {
  background: url("../img/icone-polimento.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
#section3 .img-8 {
  background: url("../img/icone-vitrificacao.webp") no-repeat;
  background-size: contain;
  background-position: center;
}

#section4 {
  background: url("../img/fundo-branco-amarelo.webp") no-repeat;
  background-size: cover;
  background-position: center;
  height: 20em;
}
#section4 div {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 810px) {
  #section4 div {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #section4 {
    height: 16em;
    padding-top: 2em;
  }
}
#section4 div.content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 810px) {
  #section4 div.content {
    margin-left: 1em;
  }
}
#section4 div.col-left {
  width: 50%;
}
#section4 div.col-left h2 {
  width: 7em;
  line-height: 2.5rem;
  margin-top: 1em;
}
@media screen and (max-width: 767px) {
  #section4 div.col-left h2 {
    text-align: center;
    line-height: 2rem;
  }
}
#section4 div.col-left button {
  margin: 0;
  margin-top: 1em;
  background-color: black;
  color: white;
  padding: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 12em;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
}
@media screen and (max-width: 810px) {
  #section4 div.col-left button {
    margin: 0 auto;
    margin-top: 1em;
  }
}
#section4 div.col-left button:hover {
  background-color: #FAAE00;
  color: black;
}
#section4 div.col-right {
  position: relative;
  width: 500px;
  height: 500px;
  bottom: 5px;
  left: 10px;
}
@media screen and (max-width: 810px) {
  #section4 div.col-right {
    bottom: auto;
    width: 20em;
    height: 20em;
  }
}
@media screen and (max-width: 767px) {
  #section4 div.col-right {
    display: none;
  }
}
#section4 a {
  color: white;
  text-decoration: none;
}
#section4 a button {
  cursor: pointer;
}

footer {
  max-width: 2560px;
  padding: 1.5rem 0;
  margin: 0;
  display: flex;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1194px) {
  footer {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  footer {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  line-height: 3rem;
  font-weight: bold;
}
footer div.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  flex-wrap: wrap;
}
@media screen and (max-width: 1194px) {
  footer div.container {
    margin: 0;
  }
}
footer div.container img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  footer div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
footer div.col {
  margin-top: 1.5em;
}
@media screen and (max-width: 810px) {
  footer div.col {
    display: block;
    margin: 0 auto;
  }
}
footer a.logo {
  background: url("../img/logo-white.webp") no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  margin: 0;
  text-indent: -9999px;
  width: 200px;
  height: 100px;
  background-size: cover;
}
@media screen and (max-width: 810px) {
  footer div.col-1 {
    display: none;
  }
}
footer div.col-2 {
  margin-left: 2em;
  width: 9em;
}
@media screen and (max-width: 767px) {
  footer div.col-2 {
    width: 100%;
    margin: 0;
    margin-top: 1em;
  }
}
footer div.col-3 {
  width: 10em;
}
@media screen and (max-width: 767px) {
  footer div.col-3 {
    width: 100%;
  }
}
footer div.col-4 {
  width: 20em;
}
@media screen and (max-width: 767px) {
  footer div.col-4 {
    width: 100%;
  }
}
@media screen and (max-width: 1194px) {
  footer div.col-4 {
    width: auto;
  }
}
footer div.col-5 {
  display: none;
}
@media screen and (max-width: 810px) {
  footer div.col-5 {
    display: block;
    margin: 0 auto;
  }
}

/*youtube*/
.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}

.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
  cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
